<!DOCTYPE html>
<html>
<head>
    <title>User Preferences</title>
</head>
<body>
    <h1>Select Your Preferences</h1>
    <form action="/recommendations" method="POST">
        <label>Preferences:</label><br>
        <input type="checkbox" name="preferences" value="exciting"> Exciting<br>
        <input type="checkbox" name="preferences" value="emotional"> Emotional<br>
        <input type="checkbox" name="preferences" value="funny"> Funny<br>
        <!-- Add more preferences -->
        <input type="submit" value="Get Recommendations">
    </form>
</body>
</html>
